*{
padding: 0;
margin: 0;
}
li{
list-style: none!important;
}
 a{
text-decoration: none!important;
}
body{
overflow-x: hidden;
}
/*-----------------------------------navbar----------------------------------------------*/
.navbar-brand{
padding-left: 70px; 
}
.nav-item{
padding:10px 5px; 
font-size: 14px;
}
#btn{
font-size: 14px;
font-weight: bold;
margin-right: 40px;
background-color:#00FFFFFF;
color:#0000FFFF; 

}
#btn1{
font-size: 14px;
font-weight: bold;
background-color:#db1f28;
color:white; 
}
.btn{
transition: .2s;
}
.btn:hover {
animation: pulse 1s infinite;
transition: .3s;
}
@keyframes pulse {
0% {
transform: scale(1);
}
70% {
transform: scale(.9);
}
100% {
transform: scale(1);
}
}
.navbar ul li a{
position: relative;
}
.navbar ul li a::before{
content: '';
width: 0px;
height: 3px;
background:#db1f28;
position: absolute;
top: 140%;
left: 0px;
transition: 0s;
}
.navbar ul li:hover a::before{
width: 100%;
}
.navbar ul li a::after{
content: '';
width: 0px;
height: 3px;
background:#db1f28;
position: absolute;
top: -50%;
left: 0px;
transition: 0s;
}
ul li:hover a::after{
width: 100%;
}

/*-----------------------------------banner section--------------------------------------*/
.img1{
background-image: url('../img/bulb.jpg');
background-size: 100% 100%;
width: 100%;
height: 650px;
margin-top:70px;
box-shadow: 0px 0px 1px 0px;
}
.banner1 h1{
font-size: 35px;
}
.banner1 p{
font-size: 17px;
}
.banner1 h5::after{
content: " ";
/* position: absolute; */
border-top: none;
border-right:none;
border-left: none;
border-bottom: 1px solid grey;
z-index: 2;
}
.banner1{
padding-top: 100px;
padding-left:70px!important;
}
.banner1 hr{
width: 50%;
}
.banner1 .row {
margin-left:1px;
}
.banner1 .row p{
margin-left:1px;
font-size: 14px;
}
.banner1 .row a h5{
margin-top:35px;
text-decoration: none!important;
}
.tt{
  color: #00FFFFFF;
}


/*-----------------------------------content-section--------------------------------------*/
.con-1{
padding-left:130px!important;
padding-top: 100px; 
}
.contant-sec{
background-color:#00007FFF;
margin-top: -1px!important;
height: 100vh;
}
.contant-sec h1{
font-size: 50px;
font-weight: 900;
}
.contant-sec h6{
font-size: 24px;
font-weight: 900;
}
/*-----------------------------------content-section2--------------------------------------*/
.contant-sec2{
background-color:#4F4F4FFF;
margin-top: -1px!important;
height: 120vh; 
}
.con-2{
padding-left:130px!important;
padding-top: 100px; 
}
.contant-sec2 h1{
font-size: 40px;
font-weight: 900;
}
.contant-sec2 .ttt{
font-size: 20px;
}
.contant-sec2 h6{
/* font-size: 40px; */
font-weight: 900;
padding-top: 30px;
}
.contant-sec2 i{
font-size: 50px;
color: white;
padding-top: 75px;
}
.contant-sec2 .row p{
padding-top: 30px;
font-size: 14px;
}
/*-----------------------------------contant-section 3--------------------------------------*/

.contant-sec3{
background-color:#00007FFF;
margin-top: -1px!important;
height: 100vh;  
}
.con-3{
padding-left:130px!important;
padding-top: 100px; 
}
.contant-sec3 h1{
font-size: 40px;
font-weight: 900;
}
/*-----------------------------------contant-section 4--------------------------------------*/

.contant-sec4{
background-color:#00FF7FFF;
margin-top: -1px!important;
height: 100vh;  
}
.con-4{
padding-left:130px!important;
padding-top: 100px; 
}
.contant-sec4 h1{
font-size: 60px;
font-weight: 900;
color:#00007FFF;
}
.contant-sec4 h6{
font-weight: 900;
padding-top: 50px;
color:#00007FFF;
}
.contant-sec4 p{
padding-top: 20px;
font-size: 24px;
color:#00007FFF;
}
.contant-sec4 .row p{
padding-top: 30px;
font-size: 14px;
color:#00007FFF;
}


/*-----------------------------------contant-section 5--------------------------------------*/
.contant-sec5{
background-image: url('../img/bulb.jpg');
background-size: 100% 100%;
width: 100%;
height:100vh;
}
.con-5{
padding-left:130px!important;
padding-top: 100px; 
}
.contant-sec5 h1{
font-size: 50px;
font-weight: 900;
}
.con-5 img{
height: 40px;
width: 40px;
}
.con-5 ul{
padding-top:40px; 
}
.con-5 li p{
font-size:28px; 
}


/*-----------------------------------carousel 1--------------------------------------*/

.carousel1{
background-color:#4F4F4FFF;
background-size: 100% 100%;
margin-top: -1px!important;
width: 100%;
height:100vh; 
}
.con-6{
padding-left:130px!important;
padding-top: 100px; 
}
.con-6 img{
height: 70px;
width: 250px!important;
}
.con-6 h1{
font-size: 50px;
font-weight: 900;
}
.con-6 .row{
padding-top:50px; 
}
.bt{
font-size: 30px;
color:white;
padding: 8px 15px;
color: #00007FFF;
background-color:white; 
}
.cas{
padding-top: 70px!important;
}
/*-----------------------------------carousel 2--------------------------------------*/
.carousel2{
background-color:#4F4F4FFF;
background-size: 100% 100%;
margin-top: -1px!important;
width: 100%;
height:120vh; 
}
.con-7{
padding-left:130px!important;
padding-top: 100px; 
}
.con-7 h1{
font-size: 50px;
font-weight: 900;
}
.con-7 .row{
padding-top:50px; 
}
.con-7 img{
height: 100px!important;
width: 100px!important;
display: block;
overflow: hidden;
border-radius: 50%;
}
.con-7 h4{
font-size:24px;
font-weight: 900;
margin-top: 50px!important;
}
.con-7 p{
font-size:13px;
}
/*-----------------------------------Footer-section--------------------------------------*/

.page-footer{
background-color:#000000;
}
.page-footer i{
color: white;
padding-top: 20px;
}
.page-footer h6{
color:#00FFFFFF;
}
.page-footer li{
color: #E7E7E7FF;
}
.page-footer a{
color: #E7E7E7FF;
}
.page-footer .row{
padding-top: 70px;
padding-bottom: 40px;
}
.page-footer img{
margin-top: -40px!important;
}
.pp{
font-size: 12px;
}
/* ----------------------------------------Responsive Css---------------------------------------------- */


@media only screen and (max-width: 600px){

.header-top{
height: 80px;
background-color:#db1f28;
}
.header-top .row{
font-size: 18px;
}
.rr{
display: flex!important;
justify-content: center!important;
}
.rr i{
padding-top: 3px;
}
#btn{
margin-right:auto;
}
.banner1 h1{
font-size: 50px;
}
.banner1 p{
font-size: 18px;
}
.ban-item{
margin-top: 60px;
height: 600px;
}
.ban-item .row{
padding-top: 50px;
}
.vl8,.vl9,.vl7,.vl6,#vl7,.hr{
display: none;
}
.card-sec{
margin-top: 750px;
}
.card{
width: 280px;
}
.card-sec1{
margin-top: 15px;
}
.img2{
height: 400px;
}
.img2 .row{
padding-top: 25px;
}
.con1 h4{
text-align: left!important;
}
.con2{
margin-bottom: 1000px;
}
.content2{
border: 0.5px solid lightgray;
margin-top: 5px;
}
.img4 h4{
margin-left: 25px!important;
}
.img4 h6{
margin-left: 25px!important;
}
.img4 hr{
margin-left: 25px!important;	
}
.img4 p{
margin-left: 25px!important;
}
#cd1{
margin-left: -15px!important;
}
#cd2{
margin-left: -15px!important;
}
.cdd{
margin-left: -12px!important;
}
.con2 p{
font-size: 18px;
}
.con2 a{
font-size: 18px;
}
.content2 p{
font-size:16px;
}
.conn2{
margin-top: 50px;
}
.con1 .vl{
border-bottom: 5px solid #91d40d;
border-right: none;
margin-top:-25px!important;
width: 55px;
margin: auto;
}
.ttt{
height: 350px;
}
.ttt p{
font-size: 16px;
}
footer h6{
font-size: 20px;
}
.footer-top{
margin-top: 100px;
}
footer .row li a{
font-size: 14px !important;
}
.foot-bottom p{
padding-left: 5px !important;
padding-right: 5px !important;
font-size: 12px;
}
.content1{
border: none;
}
.vl1,.vl2,.hr{
display: none;
}
.cd{
margin: auto;
}
.banner1 hr{
width: 90%;
}
}




@media only screen and (min-width: 600px) and (max-width: 767px){
.header-top{
height: 80px;
background-color:#db1f28;
}
.header-top .row{
font-size: 20px;
}
.rr{
display: flex!important;
justify-content: center!important;
}
.rr i{
padding-top: 3px;
}
.banner1 h1{
font-size: 45px;
}
.vl8,.vl9,.vl7,.vl6,#vl7,.hr{
display: none;
}
.img1{
margin-left:8px;
}
.img2{
margin-left:8px;
}
.img4{
margin-left: 5px!important;
}
.banner1 p{
font-size: 20px;
}
#btn{
font-size: 16px;
}
.banner1 hr{
width: 90%;
}
.ban-item{
margin-top: 50px;
height: 600px;
}
.ban-item .row p{
font-size: 20px;
}
.ban-item .row{
padding-top: 35px;
}
.card-sec{
margin-top: 650px;
}
.card-sec h6{
font-size: 20px;
}
.card-sec1{
margin: auto!important;
}
.card-sec1{
margin-top: 10px!important;
}
.card-sec .card{
height: 400px;
width: 350px;
}
.card-sec .card h6{
font-size: 20px;
}
.card-sec .card p{
font-size: 18px;
}
.img2 .row{
padding-top: 10px;
}
.content1{
border: none;
}
.content2{
margin-left: 6px!important;
}
.vl1,.vl2,.hr{
display: none;
}
.content2 h6{
font-size: 20px;
}
.content2 p{
font-size: 18px;
}
.img4{
margin: auto;
}
.con1 h4{
text-align: left!important;
}
.con2{
margin-bottom: 950px;
margin-left: 38px!important;
}
.conn2 p{
font-size: 20px;
}
.ttt p{
font-size: 20px;
}
.ttt::after{
border: none;
}
footer .row li a{
font-size: 16px !important;
}
/* .foot-bottom p{
margin-left: -30px!important;
margin-right: -30px!important;
} */
}


@media only screen and (min-width: 768px) and (max-width: 991px){
.vl8,.vl9,.vl7,.vl6,#vl7,.hr{
display: none;
}
.carousel-con{
margin-left: 60px!important;
}
#btn{
margin-right: -1px;
}
.con2{
margin-bottom: 400px;
}
.foot-bottom p{
padding-left: 5px !important;
padding-right: 5px !important;
font-size: 18px;
}
footer .row li a{
font-size: 18px !important;
}
}


@media only screen and (max-width: 360px){
.header-top{
height: 60px;
background-color:#db1f28;
}
.header-top .row{
font-size: 16px;
}
.banner1 h1{
font-size: 35px;
}
.banner1 p{
font-size: 15px;
}
.ban-item{
margin-top: 60px;
height: 600px;
}
.ban-item .row{
padding-top: 50px;
}
.card-sec{
margin-top: 650px;
}
.content{
margin-top: 80px;
}
.img2 p{
font-size: 15px;
}
.con2 a{
font-size: 17px;
}
}


@media only screen and (min-width: 992px) and (max-width: 1199px){
.ban-item .hr {
    position: absolute;
    border: 0.5px solid white;
    width: 95%;
    margin-top: 30px!important;
    margin-left: 9px;
}
#vl7 {
    border-right: 0.5px solid white;
    height: 270px;
    margin-top: -218px;
    margin-right: 10px;
    }
    .card{
      font-size: 16px;
      width: 300px;
      height: 360px;
    }
  }